<% content_for :css do %>
    <%= stylesheet_link_tag 'questions/index', "data-turbo-track": "reload" %>
<% end %>
<body>
<br>
<br>
<br>

<h1>質問一覧</h1>

<% @questions.each do |question| %>
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="30"></td>
                    <td width="60">質問：</td>
                    <td width="460"><%= question.title %></td>
                    <td width="200"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30"></td>
                    <td width="60">内容：</td>
                    <td width="460"><%= question.content %></td>
                    <td width="200"></td>
                    <td>from . </td>
                    <td width="150"><%= question.name %></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><%= link_to question_path(question) do %> <button class="btn btn-secondary btn-lg show" >詳細</button><%end%></td><td></td>
                    <td><%= link_to edit_question_path(question) do %> <button class="btn btn-secondary btn-lg edit" >編集</button><%end%></td><td></td>
                    <td><%= link_to question_path(question), data: 
                        {turbo_method: 'delete', turbo_confirm: '削除してもよろしいですか？' } do %><button class="btn btn-secondary btn-lg delete" >削除</button><%end%></td><td></td>
                </tr>
                <!--<tr>-->
                <!--    <td class="hidden">ID</td>-->
                <!--    <td class="hidden"><%= question.id %></td>-->
                <!--</tr>-->
            </table>
        </td>
    </tr>
</table>
<div class="padding">
<p class="hr"></p>
</div>
<p class="height"></p>
<% end %>


<div class="right">
<%= link_to '質問を入力', new_question_path %>
</div>
</body>
