<% content_for :css do %>
    <%= stylesheet_link_tag 'users/sign_in', "data-turbo-track": "reload" %>
<% end %>

<div class="login-page">
    <div class="form">
        <div class="logo">QandA</div>
        <div class="border-bottom">ログイン</div>
        <div class="border-bottom">
            <%= form_with model: resource, url: session_path(resource_name), class: 'login-form', local: true do |f| %>
                <div class="form-label">メールアドレス</div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "fff@email.com"%>
                <div class="form-label">パスワード</div>
                <%= f.password_field :password, autocomplete: "current-password" %>
                <p class="message"><a href="/users/password/new">パスワードを忘れた場合</a></p>
                <%= f.submit "ログイン", class:"login-btn" %>
            <% end %>
        </div>
        <a href="/users/sign_up"><input type="submit" class="signup-btn" value="新規登録"></a>
    </div>
</div>