<!DOCTYPE html>
<html>
  <head>
    <title>Qanda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :css %>
  </head>

  <body>

    <header class="header_2">
      
      <div class="header_3">
      <%= image_tag 'FFF.PNG' ,size: '130x130'%>
      </div>
      
      <div class="header_1">
        <h3>質問箱</h3>
      </div>
      
      <div class="header_4"></div>
      
     </header>
     
    <!--<header class="header_2">-->
    <!--<header>-->
    <!--  <table>-->
    <!--    <tr>-->
    <!--      <td width="50"></td>-->
    <!--      <td > <%= image_tag 'FFF.PNG' ,size: '150x150'%> </td>-->
    <!--      <td width="360"></td>-->
    <!--      <td > <h1 class="header_1"> 質問箱　</h1> </td>-->
    <!--      <td width="500"></td>-->
    <!--    </tr>-->
    <!--  </tabel>-->
    <!--</header>  -->
    
    <%= yield %>
  </body>
</html>
