<!DOCTYPE html>
<html>
  <head>
    <title>Qanda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :css %>
  </head>

  <body>

    <!--<header>-->
      
      <!--<%= image_tag 'FFF.PNG' ,size: '100x100'%>-->
      
     <!--<h1 style="background: #FFD400; text-align:center; font-size:300%; padding: 1rem 2rem; border-top: 3px solid #000; border-bottom: 3px solid #000;">質問箱</h1>-->
      
    <!--</header>-->
    
    <header class=header_2>
      <table>
        <tr>
          <td width="50"></td>
          <td > <%= image_tag 'FFF.PNG' ,size: '150x150'%> </td>
          <td width="360"></td>
          <td > <h1 class=header_1> 質問箱　</h1> </td>
          <td width="500"></td>
        </tr>
      </tabel>
    </header>  
    
    <%= yield %>
  </body>
</html>
