<% content_for :css do %>
    <%= stylesheet_link_tag 'questions/show', "data-turbo-track": "reload" %>
<% end %>

<div class="show">
<h1 class="show-title">質問確認画面</h1>
<div class="show-container show-question">
    <div class="show-header">質問</div>
    <div class="show-box">
        <div class="show-box-name">
            <div>氏名</div> 
            <div><%= @question.name %></div>
        </div>
        <div class="show-box-title">
            <div>表題</div>
            <div><%= @question.title %></div>
        </div>
        <div class="show-box-contents">
            <div>質問内容</div> 
            <div><%= @question.content %></div>
        </div>
    </div>
</div>
 
<div class="show-container show-answer">
    <div class="show-header">ベストアンサー</div>
        <div class="show-box">
            <div class="show-box-name">
                <div>氏名</div> 
                <div><%= @bestanswer.name %></div>
            </div>
        <div class="show-box-contents">
            <div>回答内容</div>
            <div><%= safe_join(@bestanswer.content.split("\n"), tag(:br)) %></div>
        </div>
    </div>
    <div class="show-footer">
        <div>

        </div>
        <div>
                いいね
        </div>
        <%= tag.div class: "image_good"%>
        <div>
            <%= @bestanswer.good %>
        </div>
</div>
    </div>
</div>

<% @answer.each_with_index do |answer, i| %>
    <div class="show-container show-answer">
        <div class="show-header">回答 <span><%= i + 1 %></span></div>
                <div class="show-box">
        <div class="show-box-name">
            <div>氏名</div> 
            <div><%= answer.name %></div>
        </div>
        <div class="show-box-contents">
            <div>回答内容</div>
            <div><%= safe_join(answer.content.split("\n"), tag(:br)) %></div>
        </div>
    </div>
    <div class="show-footer">
        <div>

        </div>
        <div>
                いいね
        </div>
        <%= tag.div class: "image_good"%>
        <div>
            <%= answer.good %>
        </div>
    </div>
        </div>
    </div>
<% end %>


<%= link_to '質問一覧に戻る', questions_path, class: "show-index-link" %>
</div>
