<% content_for :css do %>
    <%= stylesheet_link_tag 'users/sign_up', "data-turbo-track": "reload" %>
<% end %>
    <div class="login-page">
        <div class="form">
            <div class="logo">QandA</div>
            <div class="border-bottom">新規登録</div>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="border-bottom">
    
                <%= form_with model: resource, url: registration_path(resource_name), id: 'new_user', class: 'login-form', local: true do |f| %>

                    <div class="form-label">お名前</div>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "FFF 太郎"%>
                    <div class="form-label">メールアドレス</div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "fff@email.com"%>
                    <div class="form-label">パスワード</div>
                    <%= f.password_field :password, autocomplete: "new-password"%>
                    <div class="form-label">パスワード(確認)</div>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    <%= f.submit "登録", class:"login-btn" %>
                    <p class="message">すでにアカウントを持っている方 <a href="/users/sign_in.html">Sign In</a></p>
                <% end %>
            </div>
        </div>
    </div>